mat-toolbar{
    display: flex;
    position: sticky;
    top:0;
    background:var(--d-element);
    color: var(--d-text);
    padding:var(--px-4);
  
    @media (min-width: 376px) {
      margin: var(--rem-1) var(--rem-1);
      padding-bottom: var(--px-5);
      flex-direction: row;
      justify-content: space-between;
    }
  }
  
  .left {
    display: flex;
    padding-top: var(--rem-2);
  }
  
  .left .logo{
    display: flex;
    margin-right: var(--rem-3);
    margin-bottom: var(--rem-4);
  }

  .logo img{
      width: var(--px-12);
  }

  .left h1 {
      // -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      font-weight: bold;
      font-family: montserrat, sans-serif;
      font-size: var(--px-13);
      margin-top: var(--rem-14);
    }
  

    .left ul,
    .left li {
      display: block;
      float: left;
    }
  
    .left li a:hover {
      color: var(--color-1);
    }
  
    .left li a {
      font-size: var(--rem-5);
      color:var(--d-text);
      display: block;
  
      @media (min-width: 376px) {
      .left li a {
        text-decoration: none;
      }
    }
  }
  
  @media (min-width: 480px) {
      .left h1 {
        float: left;
        color: var(--color-1);
      }
      .left ul {
        margin-left: var(--px-15);
    margin-top: var(--rem-14);
      }
      .left h1+ul {
        border-left: solid var(--px-16) var(--d-text);
        margin-left: var(--px-15);
      }
      .left li:last-child {
        border-right: 0;
      }
      .left li a {
        padding: var(--px-18) var(--px-17);
        text-decoration: none;
        margin-top: var(--px-18)
      }
  }
  
  .fa-github::before {
      content: "\f09b";
      font-size: var(--px-19);
      color: var(--color-1)
  }
  