<div class="dialog-header">
    <div class="dialog-header-title">
        <div class="dialog-title" role="heading">
            {{title}}
        </div>
    </div>
    <div class="dialog-header-action" mat-dialog-actions>
        <button mat-icon-button mat-dialog-close matTooltip="Close">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
<div class="modal-body">
    <p>Are you sure you want to delete country {{country?.name}}?</p>
    <div class="modal-footer">
        <button class="button" type="button" (click)="onNoClick()" mat-raised-button>No</button>
        <button class="button" type="button" (click)="delete(country.id)" mat-raised-button>Yes</button>
    </div>
</div>

