mat-toolbar {
  display: block;
  position: sticky;
  top: 0;
  padding: 20px;
  height: 130px;
  @media (min-width: 376px) {
    margin: 0rem 0rem;
    padding-bottom: 0px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.left {
  display: flex;
  justify-content: space-between;
  // padding-top: var(--rem-2);
}

.left .logo {
  display: flex;
  margin-right: var(--rem-3);
}

.logo img {
  width: var(--px-21);
}

.left h1 {
  // -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: bold;
  font-family: montserrat, sans-serif;
  font-size: var(--px-13);
}

.left ul,
.left li {
  display: block;
  float: left;
}

.left li a:hover {
  color: var(--color-1);
}

.left li a {
  font-size: var(--rem-5);
  display: block;

  @media (min-width: 376px) {
    .left li a {
      text-decoration: none;
    }
  }
}

@media (min-width: 360px) {
  .left h1 {
    float: left;
    color: var(--color-1);
  }
  .left ul {
    margin-left: var(--px-22);
  }
  .left h1 + ul {
    margin-left: var(--px-6);
  }
  .left li:last-child {
    border-right: 0;
  }
  .left li a {
    padding: var(--px-18) var(--px-17);
    text-decoration: none;
    margin-top: var(--px-18);
    //  border-left: 1px solid;
  }
}

.right {
  display: inherit;
  margin-top: var(--px-2);
}

.fa-github::before {
  content: "\f09b";
  font-size: var(--px-6);
  color: var(--color-1);
}

.fa-moon-o:before {
  content: "\f186";
  font-size: var(--px-6);
  color: var(--color-1);
}

.theme {
  cursor: pointer;
  font-size: 15px;
}
.opcao {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.opcao .add {
  height: var(--px-1);
  margin-top: var(--px-2);
  margin-left: var(--px-3);
}

mat-form-field {
  width: 45%;
  font-size: medium;
  margin-left: var(--rem-8);
}

mat-form-field mat-icon {
  font-size: var(--p-1);
}

mat-icon {
  color: var(--color-1);
}

.mat-toolbar .mat-focused {
  color: var(--color-1);
}

.mat-form-field-underline ::-moz-focus-inner {
  background-color: var(--color-1);
}

.mat-toolbar .mat-form-field-underline ::-moz-focus-outer {
  background-color: var(--color-1);
}

.mat-toolbar .mat-form-field-underline,
.mat-toolbar .mat-form-field-ripple,
.mat-toolbar .mat-focused .mat-form-field-ripple {
  background-color: var(--color-1);
}

.mat-menu-panel {
  margin-top: var(--px-6);
  margin-left: var(--px-7);
}

.mat-menu-content:not(:empty) {
  padding-top: var(--px-5);
  padding-bottom: var(--px-5);
}

th.mat-header-cell {
  border-bottom-width: var(--px-8);
  border-bottom-style: solid;
  border-bottom-color: var(--color-1);
}

table {
  width: 100%;
  z-index: 1;
  td.mat-cell {
    border-bottom-style: none;
  }
}

th,
td {
  font-size: medium;
}

tr.mat-header-row {
  position: sticky;
  top: 64px;
}

tr.mat-row,
tr.mat-footer-row {
  height: 48px;
  cursor: pointer;
}

:host-context(.light) {
  .sidebar {
    box-shadow: 0px 0.3px 0.4px;
  }

  mat-toolbar {
    background: var(--l-element);
    color: var(--l-text);
  }

  .left li a {
    color: var(--l-text);
    border-left: solid 1px var(--l-text);
  }

  mat-form-field-label,
  mat-label {
    color: var(--l-text);
  }

  .mat-input-element::placeholder {
    color: var(--l-text);
  }

  .mat-form-field.mat-focused .mat-form-field-label {
    color: var(--l-text);
  }

  .mat-form-field.appearence-legacy .mat-form-field-label {
    color: var(--l-text);
  }

  .mat-toolbar .mat-input-element {
    caret-color: var(--l-text);
  }

  .mat-input-element {
    color: var(--l-text);
  }

  .mat-stroked-button:not(.mat-button-disabled) {
    border-color: var(--l-element);
  }

  table {
    td.mat-cell {
      border-color: var(--l-element);
    }
    background-color: var(--l-element);
  }

  th,
  td {
    color: var(--l-text);
  }
}

:host-context(.dark) {
  .sidebar {
    box-shadow: 0px 0.5px 2px #000000;
  }

  mat-toolbar {
    background: var(--d-bg);
    color: var(--d-text);
  }

  .left li a {
    color: var(--d-text);
    border-left: solid 1px var(--d-text);
  }

  mat-form-field-label,
  mat-label {
    color: var(--d-text);
  }

  .mat-input-element::placeholder {
    color: var(--d-text);
  }

  .mat-form-field.mat-focused .mat-form-field-label {
    color: var(--d-text);
  }

  .mat-form-field.appearence-legacy .mat-form-field-label {
    color: var(--d-text);
  }

  .mat-toolbar .mat-input-element {
    caret-color: var(--d-text);
  }

  .mat-input-element {
    color: var(--d-text);
  }

  .mat-stroked-button:not(.mat-button-disabled) {
    border-color: var(--d-element);
  }

  table {
    td.mat-cell {
      border-color: var(--d-element);
    }
    background-color: var(--d-bg);
  }

  th,
  td {
    color: var(--d-text);
  }
}
